<nav class="navbar">
  <a class="navbar-brand" href="/">
    <h1> Dr. SillyStringz's Engineering Co. </h1>
  </a>
  @Html.ActionLink("Home", "Index", "Home")
  @Html.ActionLink("Back to list", "Index", "Engineers")
</nav>