@{
  Layout = "_Layout";
}

@model PierreIdentity.Models.Treat

<h2>Add a New Treat</h2>

<p>@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

<div class="form">
  @using (Html.BeginForm())
  {
    <div class="form-block">
      @Html.LabelFor(model => model.Name)
      @Html.TextBoxFor(model => model.Name)
    </div>
    <div class="form-block">
      <input type="submit" class="btn btn-outline-dark" value="Add Treat" />
    </div>
  }
</div>

<div class="navlinks">
  <p>@Html.ActionLink("See all Treats", "Index")</p>
</div>